@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&display=swap');

$font-navBar:"Fira Code", monospace;
$font-text: "montserrat";
$font-footer: "Inconsolata", monospace;

$color-text: #fff;
$color-secondary: #d59b1d;
