@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$font-navBar:"Fira Code", monospace;
$font-text: "Nunito Sans", sans-serif;
$font-footer: "Inconsolata", monospace;

$color-text: #fff;
$color-secondary: #ffd700;
