.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 768px){
        margin-bottom: 60px;
    }
        
    .container-skills {
        position: relative;
        margin-top: 50px;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 2px;
            background-color: #daa520;
        }

        .title-skills {
            text-align: center;
            margin:0 60px 25px 60px;
            font-size: 20px;

            @media (min-width: 768px){
                font-size: 30px
            }
        }

        .logos-skills {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0 40px 10px 40px;

            @media (min-width: 768px){
                gap: 55px;
                margin-bottom: 20px;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;

                .skills {
                    height: 20px;
                    width: 100%;

                    @media (min-width: 768px){
                        height: 70px;
                    }
                }

                .logo-title {
                    font-size: 12px;

                    @media (min-width: 768px){
                        font-size: 18px;
                    }
                }
            }
        }
    }
}